<div class="footer-outer animate__animated  animate__fadeInUp">
    <div class="footer-inner">
    <div class="footer-text">
    <%- markdown(theme.footer) %>
    </div>
    <div class="footer-contact">
    </div>
    </div>
</div>
